<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>タイトル</title>
	<meta name="description" content="説明文">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="css/style.css">
	<script src="js/vendor.js" defer></script>
	<script src="js/main.js" defer></script>

</head>
<body>

	<%- include('./_nav')%>

	<main role="main" class="container">
		<div class="starter-template">
			<h1>Bootstrap starter template</h1>
			<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
		</div>
		<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
			 data-src="https://via.placeholder.com/640x480"
			 class="img-fluid lazyload w-100"
			 alt="Responsive image">
	</main>

</body>
</html>